<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/materialize.min.css') }}" media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <audio id="sexy"><source src="{{ asset('music/sexy.mp3')}}" type="audio/mpeg" /></audio>
        <audio id="mb"><source src="{{ asset('music/mb.mp3')}}" type="audio/mpeg" /></audio>
        <audio id="laugh"><source src="{{ asset('music/laugh.mp3')}}" type="audio/mpeg" /></audio>
        <audio id="oh"><source src="{{ asset('music/oh.mp3')}}" type="audio/mpeg" /></audio>
        {% block body %}{% endblock %}
            

        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/font-awesome.js') }}"></script>
        <script src="{{ asset('js/keys.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
